@font-face {
    font-family: 'Wremena';
    src: url('../fonts/Wremena-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Wremena';
    src: url('../fonts/Wremena-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  .text-primary-green {
    color: var(--primary-green) !important;
  }
  